<?xml version="1.0"?>
<model>
    <name>Virat</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>

        <name>Abhijit Hota</name>
        <email>abhihota025@gmail.com</email>

        <name>Ashwin A Nayar</name>
        <email>ashwin5059198@gmail.com</email>

        <name>Ankit Kumar Pal</name>
        <email>ankitkumarpal27@gmail.com</email>

        <name>Suraj Rathi</name>
        <email>suraj.rathi00@gmail.com</email>

        <name>Sachidanand V S</name>
        <email>ep19b010@smail.iitm.ac.in</email>

    </author>

    <description>
    Virat but upgraded !
    </description>
</model>
