<!-- spawn_virat.launch -->
<launch>
    <!-- Robot pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="model" default="$(find virat_gazebo)/models/virat/virat.urdf.xacro"/>

    <!-- for tf publishers -->
    <arg name="gui" default="false" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find virat_gazebo)/models/virat/virat.urdf.xacro'"/>

    <node name="spawn_virat" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model virat
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    
    <!-- Publish transforms -->
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
